body{
    margin: 0px;
    ;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    
    
}
p{
    font-weight: 500;
    color:white;
}
.next{
    font-size: 1.6em;
    color:#fff;
    
}
.prev{
    font-size: 1.6em;
    margin-left: 2px;
}
.containerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
