.modal-container{
    margin-top: -15px;
    background-color: #141414;
    height: 300px;
    z-index: 10;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    border-top: 1px solid gray;
}
.nav-links-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.link-modal a{
    color: #fff;
    text-decoration: none;
    margin: 20px;
}
.link-modal{
    margin-bottom: 30px;
    width: 100%;
    margin-left: 70%;
    
    
    
    
}